@import "colors";
@import "mixins";

.r-tiles {
  @apply items-center;

  @screen md {
    @apply flex;
  }

  .r-tile {
    @apply block rounded shadow border border-gray-300 cursor-pointer p-4 font-display;

    width: 525px;
    max-width: 525px;

    .logo {
      @apply mr-4;

      width: 48px;
      height: 48px
    }

    &.featured {
      @apply cursor-default;

      max-height: 350px;
      height: 350px;

      .description {
        @apply overflow-ellipsis overflow-hidden;
      }

      .featured-ex-container {
        @apply overflow-auto;

        height: 64px;
        max-height: 64px;

        ul {
          li {
            @apply text-sm truncate overflow-ellipsis;

            width: 300px;
          }
        }
      }
    }

    @include transition;

    &:hover {
      @apply shadow-md;
      transform: scale(1.03);
    }

    .package-tags {
      .package-tag:not(last-child) {
        @apply mr-4 p-2;
      }

      .package-category {
        background-color: map-get($blue, 200);

        &.network {
          background-color: map-get($yellow, 200);
        }
      }

      .native-package {
        background-color: map-get($purple, 400);
      }

      .package-status {
        &.ga, &.public-preview {
          background-color: map-get($fuchsia, 200);
        }
      }
    }
  }
}
