a.dismissable-banner {
    // Hide by defualt, since there is a slight delay loading the state from local storage,
    // which ends up resulting in an awkward flicker when the user has this dismissed.
    // JS will show this based on state.
    display: none;
    > div.banner {
        background: linear-gradient(90deg, rgba(247, 191, 42, 0.25) 0%, rgba(242, 110, 126, 0.25) 18.23%, rgba(190, 81, 136, 0.25) 38.02%, rgba(138, 51, 145, 0.25) 53.65%, rgba(128, 90, 195, 0.25) 74.48%, rgba(118, 130, 244, 0.25) 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 18px 16px 16px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    
        div.banner-content {
            display: flex;
            align-items: center;
            gap: 8px;
    
            p {
                font-family: Gilroy;
                font-size: 18px;
                font-weight: 600;
                color: #131314;
                margin: 0;
            }
    
            div.icon {
                display: block;
                text-indent: -9999px;
            }
            div.icon-20-17 {
                width: 20px;
                height: 17px;
                background-size: 20px 17px;   
                position: relative;
            }
            div.zelda-heart {
                background: url(/icons/zelda-heart.svg);
            }
        }
    }
}