<!-- Use this partial to pull the JS and CSS bundles into your project. -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>

{{ $js := resources.Get "js/bundle.js" | fingerprint }}
<script src="{{ $js.RelPermalink }}" defer></script>

{{ $nonMarketingSections := slice "docs" "registry" "blog" "learn" "templates" "authors" "tags" "legal" }}
{{ if in $nonMarketingSections .Section }}
{{ else }}
    {{ $marketingCss := resources.Get "css/marketing.css" | fingerprint }}
    <link rel="stylesheet" href="{{ $marketingCss.RelPermalink }}"></link>
{{ end }}

{{ $css := resources.Get "css/bundle.css" | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}"></link>
