<section id="contact" class="pt-16 px-4">
    <div class="container mx-auto text-center ">
        <h2 class="text-4xl my-6">How can we help you?</h2>
        <div class="hs-form hs-form-fg-dark my-6 inline-block">
            {{ partial "form-section" (dict "form" .Params.form) }}
        </div>

        <div class="mt-16">
            <h3>Our Address</h3>
            <p class="m-0">
                Pulumi Corporation<br>
                1525 4th Avenue, Suite 800<br>
                Seattle, WA 98101
            </p>
        </div>
    </div>
</section>
