<section id="contact" class="py-16 px-4">
    <div class="container md:mx-auto md:flex">
        <div class="md:w-full md:mr-8 text-center">
            <div class="mb-8">
                <h2 class="text-4xl">How can we help?</h2>
                <p>Have general questions? Want to talk about pricing or partnerships?</br> Reach out to us using this form.</p>

                <div class="hs-form hs-form-fg-dark w-1/2 m-auto">
                    {{ partial "form-section" (dict "form" .Params.form) }}
                </div>

                <p class="mt-8 mb-8">Current Pulumi user looking for technical support? Use our <a href="https://support.pulumi.com/">Support Portal</a>.</p>
        </div>
    </div>
</section>
