<div class="my-16">
    <h2 class="text-center">Need Help?</h2>

    <div class="container mx-auto lg:flex lg:flex-wrap">
        <div class="lg:w-1/2 p-3">
            <div class="card text-center p-6">
                <a class="hover:underline" href="https://support.pulumi.com/">
                    <div class="icon-section">
                        {{ partial "color-icon.html" (dict "icon" "code" "icon_color" "salmon") }}
                    </div>
                    <div>
                        <h5>Need technical help?</h5>
                    </div>
                    <div class="description">
                        <p>
                            Need help with a technical problem? Use our Support Portal to get
                            engineering help.
                        </p>
                    </div>
                </a>
            </div>
        </div>

         <div class="lg:w-1/2 p-3">
            <div class="card text-center p-6">
                <a class="hover:underline" href="{{ relref . "/contact.md" }}?form=onboarding">
                    <div class="icon-section">
                        {{ partial "color-icon.html" (dict "icon" "rocketship" "icon_color" "violet") }}
                    </div>
                    <div>
                        <h5>Need help getting started?</h5>
                    </div>
                    <div class="description">
                        <p>
                            Need help with getting started with Pulumi? Send us a note
                            and someone will reach out to help you get started with Pulumi.
                        </p>
                    </div>
                </a>
            </div>
        </div>

         <div class="lg:w-1/2 p-3">
            <div class="card text-center p-6">
                <a class="hover:underline" href="{{ relref . "/contact.md" }}?form=sales">
                    <div class="icon-section">
                        {{ partial "color-icon.html" (dict "icon" "team" "icon_color" "blue") }}
                    </div>
                    <div>
                        <h5>Want to speak with sales?</h5>
                    </div>
                    <div class="description">
                        <p>
                            Want to speak with someone about pricing or purchasing?
                        </p>
                    </div>
                </a>
            </div>
        </div>

         <div class="lg:w-1/2 p-3">
            <div class="card text-center p-6">
                <a class="hover:underline" href="{{ relref . "/contact.md" }}?form=general">
                    <div class="icon-section">
                        {{ partial "color-icon.html" (dict "icon" "pen" "icon_color" "yellow") }}
                    </div>
                    <div>
                        <h5>Other Inquiries</h5>
                    </div>
                    <div class="description">
                        <p>
                            Have something else to discuss? Send us a note.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
