{{ define "hero" }}{{ partial "hero.html" (dict "title" "Challenges") }}{{ end }}
{{ define "main" }}
    <section class="max-w-4xl container mx-auto py-8 px-4 text-center text-lg">
        <p>
            Do you like trying new things? Do you think purple is the best color for a platypus? Want some cool stuff? If you answered yes to any or all of those questions, take a
            Pulumi Challenge! Challenges are self-contained tutorials for applications that are a little too large or a little too silly to live anywhere else. Plus, we'll send you
            some unique swag for completing one, with other ways to win even better stuff!
        </p>
    </section>

    <section id="challenges" class="w-full relative overflow-visible">
        <!-- Only do the 2x2 layout at tablet width (md) and up. -->
        <ul class="md:flex flex-wrap list-none">
            <li class="md:w-1/2">
                <div>
                    <div class="w-full p-4 my-2">
                        <div class="card text-center py-16 px-8 relative bg-white">
                            <h4>Startup in a Box</h4>
                            <p class="my-8">Build and deploy your very own landing site to the cloud, with everything you need to take your side project to a startup!</p>
                            <div class="flex flex-col lg:flex-row justify-center items-center">
                                <div class="my-2 mx-2 w-full lg:w-auto">
                                    <a href="{{ relref . "/startup-in-a-box" }}" class="w-full block btn-secondary">Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="md:w-1/2">
                <div>
                    <div class="w-full p-4 my-2">
                        <div class="card text-center py-16 px-8 relative bg-white">
                            <h4>Templating for Fun and Profit</h4>
                            <p class="my-8">Launching in September!</p>
                            <div class="flex flex-col lg:flex-row justify-center items-center">
                                <div class="my-2 mx-2 w-full lg:w-auto">
                                    <a href="" class="w-full block btn-secondary">Coming Soon</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="md:w-1/2">
                <div>
                    <div class="w-full p-4 my-2">
                        <div class="card text-center py-16 px-8 relative bg-white">
                            <h4>Overengineering Anything</h4>
                            <p class="my-8">Launching in October!</p>
                            <div class="flex flex-col lg:flex-row justify-center items-center">
                                <div class="my-2 mx-2 w-full lg:w-auto">
                                    <a href="" class="w-full block btn-secondary">Coming Soon</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="md:w-1/2">
                <div>
                    <div class="w-full p-4 my-2">
                        <div class="card text-center py-16 px-8 relative bg-white">
                            <h4>TBD</h4>
                            <p class="my-8">Launching in November!</p>
                            <div class="flex flex-col lg:flex-row justify-center items-center">
                                <div class="my-2 mx-2 w-full lg:w-auto">
                                    <a href="" class="w-full block btn-secondary">Coming Soon</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
{{ end }}
