{{ define "hero" }}
    <div class="container mx-auto">
        <img src="/images/challenge/challenge_banner.png" alt="Pulumi Challenge banner image." />
    </div>
{{ end }}

{{ define "main" }}
    <div class="container mx-auto flex items-start px-4 md:px-0">
        <div class="md:w-3/12 my-8 sticky-sidebar md:pr-8">
            <nav></nav>
        </div>
        <div class="md:w-7/12 my-8">
            <section class="container mx-auto my-8">
                {{ .Content }}
            </section>
            <p>
                <a href="{{ relref . "/challenge" }}">&larr; View Other Challenges</a>
            </p>
        </div>

        <div class="md:w-2/12 md:ml-8 m8-8 "></div>
    </div>
{{ end }}
