{{ define "hero" }}
    {{ partial "hero" (dict "title" "Pulumi Automation API") }}
{{ end }}

{{ define "main" }}
    <section id="overview" class="max-w-4xl mx-auto text-center my-24">
        <h3>What if infrastructure as code was just a library?</h3>
        <p>
            Build custom cloud tools, frameworks, self-serve portals, and more,
            right from your favorite programming language.
        </p>
        <img class="w-full" src="/images/docs/reference/automation-api.png" alt="Pulumi Automation API architecture">
        <div class="mt-8">
            <a class="btn-primary" href="{{ relref . "/docs/guides/automation-api" }}">Try Automation API</a>
            <a class="btn-secondary" href="{{ relref . "/contact.md" }}">Get a Demo</a>
        </div>
    </section>

    <section id="benefits" class="mt-16 px-4">
        <div class="container mx-auto">
            <div class="md:flex mx-auto max-w-5xl mb-8">
                <div class="md:w-1/3 p-4">
                    <div class="text-center p-6 h-full">
                        {{ partial "color-icon.html" (dict "icon" "clouds" "icon_color" "blue") }}
                        <h5>Your Cloud</h5>
                        <p>
                            Program the full surface area of thousands of cloud resource types in public clouds
                            including AWS, Azure, Google Cloud, Kubernetes, and many others.
                        </p>
                    </div>
                </div>

                <div class="md:w-1/3 p-4">
                    <div class="text-center p-6 h-full">
                        {{ partial "color-icon.html" (dict "icon" "code" "icon_color" "yellow") }}
                        <h5>Your Language</h5>
                        <p>
                            Embed infrastructure as code capabilities into standard programs and libraries,
                            including Node.js (JavaScript, TypeScript), Python, Go, and .NET (C#, F#).
                        </p>
                    </div>
                </div>

                <div class="md:w-1/3 p-4">
                    <div class="text-center p-6 h-full">
                        {{ partial "color-icon.html" (dict "icon" "rocketship" "icon_color" "salmon") }}
                        <h5>Your Way</h5>
                        <p>
                            Deliver powerful new cloud capabilities any way you want &mdash; behind a UI,
                            REST API, internal PaaS, custom library of your own &mdash; the sky's the limit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="automation-features" class="relative mt-12">
        <div class="shape-background product-features-section">
            <div class="shape-container">
                <div class="circle-left"></div>
                <div class="circle-right"></div>
            </div>
        </div>

        <div class="container mx-auto text-center">
            <h2>Scenarios</h2>

            <div class="my-16 lg:my-24">
                {{ partial "color-icon.html" (dict "icon" "clouds" "icon_color" "yellow") }}
                <h3>Deliver Your Cloud SaaS Product</h3>
                <div class="flex flex-col lg:flex-row mb-16">
                    <div class="w-full lg:w-1/3 px-8 mt-8 lg:mb-0">
                        {{ partial "customer-logo.html" (dict "logo" "snowflake") }}
                    </div>
                    <div class="w-full lg:w-2/3 px-8 mt-8 lg:mb-0 text-left">
                        <p class="key-feature-description mb-8">
                            Ship innovative new products that uses the cloud in new ways, deeply embedded
                            within a larger system. Eliminate clumsy interfaces between application and
                            infrastructure code with rich programmable libraries for any cloud resource.
                        </p>
                    </div>
                </div>
                <div class="card-cta-btn">
                    <a class="btn-primary" href="{{ relref . "/case-studies/snowflake" }}">
                        Learn How Snowflake Did It
                    </a>
                </div>
            </div>

            <div class="my-16 lg:my-24">
                {{ partial "color-icon.html" (dict "icon" "clouds" "icon_color" "yellow") }}
                <h3>Build Self-Serve Portals</h3>
                <div class="flex flex-col lg:flex-row mb-16">
                    <div class="w-full lg:w-2/3 px-8 mt-8 lg:mb-0 text-left">
                        <p class="key-feature-description mb-8">
                            Build internal platforms that provision and manage cloud resources
                            behind the scenes with the full power of modern infrastructure as code.
                            Empower developers to be self-serve, knowing that standard patterns
                            and practices are behind used consistently across the team.
                        </p>
                    </div>
                    <div class="w-full lg:w-1/3 px-8 mt-8 lg:mb-0">
                        {{ partial "customer-logo.html" (dict "logo" "mercedes-benz") }}
                    </div>
                </div>
                <div class="card-cta-btn">
                    <a class="btn-primary" href="{{ relref . "/case-studies/mercedes-benz" }}">
                        Learn How Mercedes-Benz Did It
                    </a>
                </div>
            </div>

            <div class="my-16 lg:my-24">
                {{ partial "color-icon.html" (dict "icon" "clouds" "icon_color" "yellow") }}
                <h3>Create Custom Tools and Frameworks</h3>
                <div class="flex flex-col lg:flex-row mb-16">
                    <div class="w-full lg:w-1/3 px-8 mt-8 lg:mb-0">
                        <a href="https://www.webiny.com/">
                            <img class="w-full" src="/logos/customers/webiny.svg" alt="Webiny">
                        </a>
                    </div>
                    <div class="w-full lg:w-2/3 px-8 mt-8 lg:mb-0 text-left">
                        <p class="key-feature-description mb-8">
                            Package up common patterns and practices to create higher-level cloud
                            tools and frameworks for developers. Create purpose-built CLIs that abstract
                            away complexity so you can delight your users in their journey to the cloud.
                        </p>
                    </div>
                </div>
                <div class="card-cta-btn">
                    <a class="btn-primary" href="{{ relref . "/docs/guides/automation-api" }}">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="case-study" class="container mx-auto mb-24">
        <div class="text-center">
            <div class="w-full lg:w-1/2 lg:mx-auto p-6">
                <div class="flex flex-col card p-6 bg-white relative">
                    <p class="text-left mt-0 italic text-black">
                        Pulumi improved our time-to-market by removing cloud infrastructure as a roadblock.
                        Our developers rely on Pulumi to build modern cloud applications, including the
                        underlying infrastructure, using programming languages they understand. This has
                        resulted in faster software delivery, closer collaboration and higher-quality
                        deployments. Every developer is now empowered to move faster and spend more time on
                        developing things that matter to our customers.
                    </p>
                    <div class="flex flex-grow items-end">
                        <div class="w-2/3 text-left">
                            <p class="text-black mb-0">Keith Redmond</p>
                            <p class="mt-0">VP of SaaS Engineering</p>
                        </div>
                        <div class="w-1/3 my-4">
                            {{ partial "customer-logo.html" (dict "logo" "fenergo") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="webinar" class="bg-white py-16 px-4">
        <div class="container mx-auto">
            <div class="text-center mb-8">
                <h2>Demo</h3>
            </div>

            <!-- Rendered with Hugo's YouTube shortcode: https://gohugo.io/content-management/shortcodes/#youtube -->
            <div class="rounded shadow-md" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                <iframe src="//www.youtube.com/embed/Zko70KVGcgo?rel=0&start=5049" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen="" title="Introduction to Pulumi: Modern Infrastructure as Code"></iframe>
            </div>
        </div>
    </section>
{{ end }}
