{{ define "hero" }}
    {{ partial "hero" (dict "title" .Params.title ) }}
{{ end }}

{{ define "main" }}
    <section id="info" class="max-w-5xl mx-auto text-center mt-8">
        <div class="">
            <div class="w-full ">
                <img class="mx-auto" src="{{ .Params.overview.image }}" alt="Pulumi Community Summit" />
            </div>

            <div class="w-full flex justify-center items-center">
                <p>
                    Join your friends in the Pulumi community on March 23rd, 2020 for the first ever Pulumi
                    Community Summit. This virtual event will include an “Open Spaces” concept where you can
                    propose and vote on topics ahead of time. Those topics with the most interest will form
                    the agenda for the day, with virtual break out rooms centered around those themes. Still
                    uncertain about “Open Spaces”? Take a look at the organizers at
                    <a href="https://devopsdays.org/open-space-format/" target="_blank" rel="noopener noreferrer" >DevOps Days</a>
                    for their more detailed description.
                </p>
            </div>
        </div>

        <div class="max-w-4xl mx-auto card bg-white mt-12 p-12">
            <h2>Save the date</h2>

            <h4>
                <pulumi-datetime date="2022-03-23T08:00:00-07:00"></pulumi-datetime>
            </h4>

            <div class="flex flex-wrap justify-center items-center py-12">
                <div class="w-full lg:w-1/2">
                    <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/calendar/render?action=TEMPLATE&text=Pulumi%20Community%20Summit&dates=20220323T150000Z/20220323T190000Z&details=Join%20your%20friends%20in%20the%20Pulumi%20community%20on%20March%2023rd%2C%202020%20for%20the%20first%20ever%20Pulumi%20Community%20Summit.%20This%20virtual%20event%20will%20include%20an%20%E2%80%9COpen%20Spaces%E2%80%9D%20concept%20where%20you%20can%20propose%20and%20vote%20on%20topics%20ahead%20of%20time.%20Those%20topics%20with%20the%20most%20interest%20will%20form%20the%20agenda%20for%20the%20day%2C%20with%20virtual%20break%20out%20rooms%20centered%20around%20those%20themes&location=https://pulumi.com/community-summit/">
                        <img class="h-24 mx-auto" src="/logos/misc/google-calendar.svg" alt="Google Calendar" />
                    </a>
                </div>

                <div class="w-full lg:w-1/2">
                    <a target="_blank" rel="noopener noreferrer" href="https://outlook.office.com/calendar/0/deeplink/compose?body=Join%20your%20friends%20in%20the%20Pulumi%20community%20on%20March%2023rd%2C%202020%20for%20the%20first%20ever%20Pulumi%20Community%20Summit.%20This%20virtual%20event%20will%20include%20an%20%E2%80%9COpen%20Spaces%E2%80%9D%20concept%20where%20you%20can%20propose%20and%20vote%20on%20topics%20ahead%20of%20time.%20Those%20topics%20with%20the%20most%20interest%20will%20form%20the%20agenda%20for%20the%20day%2C%20with%20virtual%20break%20out%20rooms%20centered%20around%20those%20themes&location=https://pulumi.com/community-summit/&path=%2Fcalendar%2Faction%2Fcompose&rru=addevent&startdt=2022-03-23T15%3A00%3A00%2B00%3A00&enddt=2022-03-23T19%3A00%3A00%2B00%3A00&subject=Pulumi%20Community%20Summit">
                        <img class="h-24 mx-auto" src="/logos/misc/outlook.svg" alt="Outlook" />
                    </a>
                </div>
            </div>

            <p><a href="#" class="btn-secondary">Download Calendar Invite</a></p>
        </div>
    </section>

    <section id="faq" class="container mx-auto my-16">
        <h2 class="text-center mb-12">Frequently Asked Questions</h2>

        <h3>Who should attend?</h3>
        <p>
            Any practitioner, engineer, developer or professional who is interested in Pulumi and Cloud Engineering.
            Feel free to invite your friends and colleagues. Cloud Engineering practitioners include infrastructure
            (DevOps, SREs), platform engineers, application developers, and security professionals who are building
            modern cloud-based applications  and infrastructure. They help their organizations achieve digital
            transformation goals and address both the challenges and opportunities posed by rapid innovation,
            scale, reliability, security, and compliance.

        </p>

        <h4>What are appropriate topics?</h4>
        <p>
            Suggested topics could include K8's, Azure, Migrations, Python, specifics about using Pulumi,
            culture or gaming are fun to discuss. Even pets are fair game - feel free to bring yours along
            for the summit.
        </p>

        <h4>Do I have to travel?</h4>
        <p>
            As travel restrictions and comfort levels change, we may introduce this event in-person but for
            now, we will host a virtual environment for our community to gather, discuss and network.
        </p>
    </section>

    <section class="container mx-auto my-12 md:my-24 p-6 lg:p-0">
        <div class="w-full bg-violet-600 rounded shadow p-16 pt-24 text-center">
            <h2 class="text-white">{{ .Params.get_started.title }}</h2>
            <p class="text-white">{{ .Params.get_started.description }}</p>
            <div class="mt-16">
                <a class="btn-secondary" href="{{ relref . "/docs/get-started" }}">{{ .Params.get_started.cta_text }}</a>
            </div>
        </div>
    </section>
{{ end }}
