{{ define "hero" }}
    {{ partial "hero.html" (dict "title" .Params.title) }}
{{ end }}

{{ define "main" }}
    <section class="container mx-auto mt-32">
        <div class="text-center mb-8">
            {{ partial "color-icon.html" (dict "icon" "puzzle" "icon_color" "purple") }}
        </div>
        <h2 class="text-center">Install the Pulumi CLI</h2>
        <p class="text-center">To use the open source Pulumi SDK or the Pulumi Console UI you need to have the Pulumi CLI installed.</p>
        <div class="mt-12 mb-6 flex justify-center">
            <div class="bg-black pt-4 pb-4 pl-6 pr-6 rounded-l-md">
                <p class="text-white text-2xl m-0 font-mono">brew install pulumi</p>
            </div>
            <button class="border-2 border-black rounded-r-md">
                <i class="far fa-copy copy text-2xl text-black m-5"></i>
            </button>
        </div>
        <p class="text-center">Or review <a href="{{ relref . "/docs/get-started/install" }}" class="underline">other installation options</a>.</p>
    </section>
    <section class="container mx-auto mt-32">
        <div class="text-center mb-8">
            {{ partial "color-icon.html" (dict "icon" "puzzle" "icon_color" "salmon") }}
        </div>
        <h2 class="mb-8 text-center">Start learning or explore</h2>

        <div class="lg:flex items-stretch">
            <div class="w-full lg:w-1/2 px-4 py-2 lg:p-8 lg:px-4">
                <div class="lg:shadow-2xl p-8 lg:px-24 lg:pt-4 g:pb-12 rounded-xl">
                    <h3>Start learning</h4>
                    <p class="mb-24">Pick a cloud and a language and deploy your first application using open source Pulumi!</p>
                    <a href="{{ relref . "/docs/get-started" }}" class="btn-primary">Follow the Getting Started Tutorial</a>
                </div>
            </div>

            <div class="w-full lg:w-1/2 px-4 py-2 lg:p-8 lg:px-4">
                <div class="border lg:border-none lg:shadow-2xl p-8 lg:px-24 lg:pt-4 g:pb-12 rounded-xl bg-white">
                    <h3>Explore</h4>
                    <p class="mb-16 pb-1">The optional Pulumi Console UI manages deployment state and provides collaboration tools. Sign in to explore!</p>
                    <a href="{{ relref . "/docs/guides/adopting" }}" class="btn-secondary">Sign Up</a>
                </div>
            </div>
        </div>
    </section>
{{ end }}
