{{ define "main" }}
    {{ $pageContext := . }}


    <div class="banner-image flex justify-center">
        <div class="text-center py-16">
            <img src="/images/pulumiup-2023/logo.png" alt="Pulumi UP" class="mx-auto mt-16" />
            <h3 class="yellow-header-text mt-0">June 15, 2023</h3>
            <div class="banner-description mx-auto mb-12 w-1/2">
                <p>
                    PulumiUP is a free virtual conference open to all interested in platform engineering, infrastructure as code, software development, modern applications, or
                    Pulumi.
                </p>
                <p>
                    Whether you're a seasoned engineer or just curious to learn about infrastructure as Code, at PulumiUP you can hear industry leaders and attend guest sessions,
                    demos, and panel sessions.
                </p>
            </div>
            <event-session-registration-modal
                modal-title="Register for PulumiUP"
                button-text="Register Now"
                button-class="btn-secondary"
                event-sessions="{{ .Params.registration.items | jsonify }}"
            >
            </event-session-registration-modal>
        </div>
    </div>

    <section id="countdown" class="pt-12 mb-16">
        <pulumi-date-countdown-circles
            date-string="{{ .Params.event_date }}"
            value-label-class="block font-normal"
            container-class="flex flex-wrap justify-center items-center"
            text-class="px-3 text-4xl m-0"
        >
        </pulumi-date-countdown-circles>
    </section>

    <div class="below-banner-description mx-auto px-8 my-8 w-full flex-col">
        <p>PulumiUP is a free virtual conference open to all interested in platform engineering, infrastructure as code, software development, modern applications, or Pulumi.</p>
        <p>
            Whether you're a seasoned engineer or just curious to learn about infrastructure as Code, at PulumiUP you can hear industry leaders and attend guest sessions, demos,
            and panel sessions.
        </p>
    </div>

    <section id="topic-tags" class="relative mt-8">
        <div class="dot-background-container">
            <div class="dot-background"></div>
        </div>
        <div class="dot-overlay"></div>

        <div class="w-full py-8" style="background-color:rgba(255,255,255,.8)">
            <div class="text-center relative mx-auto w-full lg:w-2/3">
                <h2 class="text-black mb-8">At A Glance Topics</h2>
                <p>
                    Learn how industry leaders leverage infrastructure as code to innovate, accelerate software development, enable their developer teams, and cut costs. Grow your
                    knowledge about cloud and trending topics, and build more efficiently.
                </p>
                <div class="flex flex-row flex-wrap justify-center">
                    {{ range .Params.topics }}
                        <div class="rounded-md px-2 py-2 m-2 text-white {{ .color }}">{{ .name }}</div>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>

    <section id="dev-stories" class="yellow-blue-gradient mt-2">
        <div class="container mx-auto px-4 py-8 text-center">
            <h2>DevStories</h2>
            <p class="text-lg">
                PulumiUP isn't just another developer conference. Our brilliant speakers are engineers like you, who tackled challenges, successfully implemented solutions, and
                some even founded their own companies. Listen to their stories, their ideas, be inspired and learn from the best.
            </p>
            <div class="container">
                {{ range .Params.stories }}
                    <div class="card mx-auto bg-white w-full m-4 p-4 flex flex-col lg:flex-row">
                        <div class="w-full lg:w-1/4">
                            {{ .name }}
                        </div>
                        <div class="w-full lg:w-3/4 text-left">
                            <h5>{{ .title }}</h5>
                            {{ .description | markdownify }}
                        </div>
                    </div>
                {{ end }}
            </div>
            <h5 class="py-4">Stay tuned... More to come!</h5>
        </div>
    </section>

    <section id="why" class="light-blue-background">
        <div class="container mx-auto px-4 py-8 text-center">
            <h2>A MUST attend for...</h2>
        </div>
    </section>

    <section class="my-0 mb-16 py-12 overflow-hidden px-3 white-background">
        <div class="container mx-auto text-center">
            <h3 class="text-center mb-10 hidden lg:block">{{ .Params.customer_logos.title }}</h3>
            <h6 class="text-center mb-10 lg:hidden">{{ .Params.customer_logos.title }}</h6>
            <div class="flex flex-wrap items-center justify-center">
                {{ range $logo := .Params.customer_logos.logos }}
                    <div class="w-3/4 lg:w-1/6 p-10">
                        {{ $imgClass := "w-full" }}
                        {{ if eq $logo "aws-logo.svg" }}
                            {{ $imgClass = "w-2/3 mx-auto" }}
                        {{ end }}


                        <img class="{{ $imgClass }}" src="/images/pulumiup/sponsors/{{ $logo }}" />
                    </div>
                {{ end }}
            </div>
        </div>
    </section>

    <section id="schedule" class="light-blue-background mb-32">
        <div class="container mx-auto py-16 px-6 lg:px-0">
            <h2>2022 Schedule</h2>

            {{ range .Params.schedule_overview }}
                <div class="flex flex-wrap my-8">
                    <div class="w-full lg:w-1/4 border-b lg:border-b-0 lg:border-r-2 border-gray-700">
                        <p class="text-3xl">{{ .day }}</p>
                        <p>{{ .time }}</p>
                        <p></p>
                    </div>

                    <div class="w-full lg:w-3/4 lg:pl-6">
                        <p class="text-3xl">{{ .title }}</p>
                        <p>
                            {{ .description | markdownify }}
                        </p>
                    </div>
                </div>
            {{ end }}
        </div>
    </section>

    <!-- script for formcomplete -->
    <script>
        (function () {
            window._zi = { formId: "88e44d71-8b92-4b93-9aa9-6d6650e38250", formLoadTimeout: 4000 };
            var zi = document.createElement("script");
            zi.type = "text/javascript";
            zi.async = true;
            zi.src = "https://ws-assets.zoominfo.com/formcomplete.js";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(zi, s);
        })();
    </script>
{{ end }}
