{{ define "hero" }}
    {{ partial "hero" (dict "title" .Params.title ) }}
{{ end }}

{{ define "main" }}
    <section class="container mx-auto">
        {{ $keys := slice }}
        {{ range $i, $obj := .Params.examples }}
            {{ $keys = $keys | append $obj.key }}
        {{ end }}
        <slot-machine-result image-class="h-16 mx-auto" csv-keys="{{ delimit $keys "," }}">
            {{ range $i, $obj := .Params.examples }}
                <div slot="{{ $obj.key }}">
                    <div class="code-tabbed code-mode-{{ default "light" .mode }} {{ if .chrome }}code-chrome no-copy{{ end }}">
                        {{ if .chrome }}
                            {{ partial "chrome.html" . }}
                        {{ end }}


                        <div class="code-tabbed-content-item">
                            {{ highlight $obj.code $obj.language (default "" .opts) }}
                        </div>
                    </div>
                </div>
            {{ end }}
        </slot-machine-result>
    </section>
{{ end }}
