.docs-list-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .docs-main-content-wrapper {
        display: flex;
        flex-direction: row;
        gap: 36px;
        justify-content: center;
        flex-grow: 2;
        height: fit-content;
        border: none;

        @media (min-width: 1280px) {
            border-left: 1px solid #e5e5e9;
        }
    }

    .docs-main-nav-wrapper {
        z-index: 2;
        position: relative;
    }


    .docs-main-nav {
        background-color: #fff;
        border-right: 1px solid #e5e5e9;
        box-shadow: 6px 0px 36px rgba(0, 0, 0, 0.08);
        display: none;
        flex-shrink: 0;
        margin: 0 6px 0 16px;
        padding: 32px 0 0 0;
        flex-basis: 265px;
        width: 265px;
        overflow-y: auto;
        height: calc(100vh - 38px);
        position: sticky;
        top: 0;
        left: 0;
        top: 60px;

        nav.toc div:first-of-type {
            margin-top: 0;
        }

        @media (min-width: 1280px) {
            display: flex !important;
        }
    }

    .docs-nav-toggle {
        z-index: 3;
        width: 32px;
        height: 40px;
        background: #f9f9fa;
        border-width: 1px 1px 1px 0px;
        border-style: solid;
        border-color: #e5e5e9;
        box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.08);
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;
        display: flex;
        position: relative;
        top: 110px;
        left: 0;

        @media (min-width: 1280px){
            display: none;
        }
    }

    .docs-main-content {
        max-width: 700px;
        margin: 32px 24px 0 16px;
        padding-bottom: 24px;

        @media (min-width: 1280px) {
            margin-left: 24px;
        }
    }

    .docs-table-of-contents {
        flex-basis: 340px;
        margin-top: 38px;
        margin-right: 16px;
        padding: 18px 24px;
        overflow-y: auto;
        height: min-content;
        position: sticky;
        top: 94px;
    }
}

.docs-list-main .docs-main-content,
.docs-single-main .docs-single-main-content,
body.section-registry {
    div.special-h1 {
        display: inline-block;

        h1 {
            font-family: Gilroy;
            line-height: 1.5;
            font-weight: 400;
            font-size: 30px;
            color: #131314;
            margin: 16px 0;
        }
    }

    div.h1-gradient {
        width: calc(100% - 32px);
        height: 12px;
        background: linear-gradient(90deg, #F7BF2A 0%, #F26E7E 18.23%, #BE5188 38.02%, #8A3391 53.65%, #805AC3 74.48%, #7682F4 100%);
        opacity: 0.1;
        position: relative;
        top: -34px;
    }

    section.docs-content {
        h1, h2, h3, h4, h5, h6 {
            font-family: Gilroy;
            line-height: 1.5;
        }

        h2, h3, h4, h5, h6 {
            margin: 18px 0 !important;
        }

        h1 + h2,
        h2 + h2,
        h2 + h3,
        h3 + h3,
        h3 + h4,
        h4 + h4,
        h5 + h6,
        h5 + h5,
        h6 + h6 {
            margin-top: 0 !important;
        }

        h1 {
            font-weight: 400;
            font-size: 30px;
            color: #131314;
            margin: 16px 0;
        }

        h2 {
            font-weight: 400;
            font-size: 24px;
            color: #131314;
        }

        h3 {
            font-weight: 600;
            font-size: 21px;
            color: #131314;
        }

        h4 {
            font-weight: 600;
            font-size: 18px;
            color: #5f6065;
        }

        h5 {
            font-weight: 400;
            font-size: 18px;
            color: #131314;
        }

        h6 {
            font-weight: 600;
            font-size: 16px;
            color: #5a5a5a;
            
        }

        p {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 16px;
            color: #131314;
            padding: 0 0 12px 0;
            margin: 0;
            line-height: 1.6;
        }

        table {
            margin-bottom: 16px;
        }

        p a:not(.btn-secondary),
        ul li a[href]  {
            color: #4d5bd9;
            background: linear-gradient(90deg,rgba(142, 143, 151, 0),rgba(142, 143, 151, 0)),linear-gradient(90deg,#8e8f97,#8e8f97);
            background-position: 100% 100%,0 100%;
            background-repeat: no-repeat;
            background-size: 100% 0.1em,0 0.1em;
            padding-bottom: 0.2rem;
            transition: background-size .3s;
            transition-timing-function: ease-in;

            &:hover {
                color: #4552c3;
                text-decoration: none;
                background-size: 0 0.1em,100% 0.1em;
            }
        }
    }
}
