nav.docs {
    padding: 0;
    border-bottom: 1px solid #e5e5e9;

    div.top-nav-container {
        margin: 12px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div.logo {
            display: flex;
            align-items: center;
        }

        div.logo-hamburger {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        div.logo-hamburger img {
            height: 24px;
        }

        div.logo-get-started {
            display: flex;
            width: 100%;
            align-items: center;

            @media (min-width: 640px){
                gap: 24px;
            }
        }

        div.logo-get-started,
        div.logo-hamburger {
            @media (min-width: 640px){
                width: auto;
            }
        }

        div.hamburger {
            display: flex;
            
            @media (min-width: 640px){
                display: none;
            }
        }
        div.get-started {
            a.get-started-header-button {
                box-shadow: none;
                padding: 8px 16px;

                &:hover {
                    color: #fff;
                    box-shadow: 0px 3px 1px -2px rgba(0,0,0,.2), 0px 2px 2px rgba(0,0,0,.14), 0px 1px 5px rgba(0,0,0,.12);
                }
            }
        }

        ul.logo-nav-menu {
            top: 46px;
        }

        ul.logo-nav-menu li {
            font-family: Inter;
            font-size: 16px;
        }

        div.nav-items ul li:not(:last-child) {
            margin-right: 24px;
        }

        div.nav-items ul  li i {
            margin-right: 4px;
        }
    }
}