section.docs-home {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h1, h2, h3, p {
        margin: 0 !important;
        margin-top: 0;
    }

    h2 {
        margin-bottom: 12px;
    }

    h3 {
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 21px;
        color: #131314;
    }

    div.header {
        background-image: url("/images/docs/docs-home-header-background.svg");
        height: 197px;
        background-position: right 0;
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 28px 0 21px 24px;

        h1 {
            font-family: 'Gilroy';
            font-size: 36px;
            line-height: 36px;
            color: #2f3032;
            margin: 0;
        }

        p {
            max-width: 436px;
        }

        div.link-buttons {
            display: flex;
            gap: 8px;

            a {
                padding: 5px 16px;
                border-radius: 4px;
                border: 1px map-get($brand, "blue") solid;
                background: $white;
                font-family: 'Inter';
                font-weight: 400;
                font-size: 14px;
                color: $white;

                &.docs-primary-link-btn {
                    background: map-get($brand, "blue");
                    color: $white;

                    &:hover {
                        background: map-get($brand, "blue-darker");
                    }
                }

                &.docs-secondary-link-btn {
                    color: map-get($brand, "blue");

                    &:hover {
                        background: map-get($blue, 200);
                    }
                }
            }
        }
    }

    h2 {
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 24px;
        color: #131314;
    }

    div.docs-home-section {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    div.blue-sparkle {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 0;
        background: #edeffb;
        border-radius: 4px;

        .heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        div.sparkle {
            background-image: url("/images/docs/sparkle.svg");
            width: 48px;
            height: 40px;
        }
    }

    a.full-width-card {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 24px;
        background: #fff;
        border: 1px solid #e5e5e9;
        box-shadow: 0px 2px 24px rgba(95, 96, 101, 0.14);
        border-radius: 4px;

        div.icon-heading {
            display: flex;
            align-items: center;
            gap: 12px;
            padding-bottom: 10px;
            border-bottom: 1px solid #e5e5e9;

            div.icon {
                top: -1px;
            }
        }

        &:hover {
            background: #f9f9f9;
            border: 1px solid #bebfc9;
        }
    }

    div.grid {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        flex-direction: row;

        a.cloud {
            flex: 1;
            flex-basis: 344px;
            border: 1px solid #E5E5E9;
            filter: drop-shadow(0px 2px 24px rgba(95, 96, 101, 0.14));

            div.cloud-icon {
                padding: 24px 0px;  
                background: #f9f9f9;   
                border-bottom: 1px solid #e5e5e9;
                border-radius: 4px 4px 0px 0px;
                display: flex;
                justify-content: center;
            }

            div.cloud-label {
                padding: 12px;
                background: #fff;
                border-radius: 0px 0px 4px 4px;
                font-family: 'Inter';
                font-weight: 400;
                font-size: 18px;
                color: #131314;
            }
        }

    }
}