a.pulumi-ai-badge {
    display: inline-block;
    
    div {
        width: fit-content;
        margin-top: 4px;
        margin-bottom: 24px;
        border-color: #a6adec;
        border-width: 2px;
        border-left-width: 12px;
        border-radius: 6px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;

        &:hover {
            border-color: #828ce4;
            cursor: pointer;
        }

        p {
            margin: 4px 14px 4px 16px;
            font-size: 14px;

            i {
                margin-left: 12px;
                font-size: 14px;
                position:relative;
                top:-1px;
                color: transparent;
                -webkit-text-stroke-width: 1.5px;
                -webkit-text-stroke-color: #2f3032;
            }
        }
    }
}

.more-learnings {
    .heading-toggle {
        .title {
            flex-grow: 1;
            font-family: Inter;
            font-size: 12px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }
        .icon {
            pointer-events: none !important;
        }
        cursor: pointer;
    }
    .item {
        display: flex;
        flex-direction: row;
        padding-top: 12px;
        padding-left: 23px;
        padding-right: 16px;
        .description {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            color: #364098;
            flex-grow: 1;
        }
        .content-badge {
            background: linear-gradient(90deg, rgba(247, 191, 42, 0.06) 0%, rgba(242, 110, 126, 0.06) 18.23%, rgba(190, 81, 136, 0.06) 38.02%, rgba(138, 51, 145, 0.06) 53.65%, rgba(128, 90, 195, 0.06) 74.48%, rgba(118, 130, 244, 0.06) 100%);
            display: flex;
            flex-direction: row;
            font-size: 12px;
            padding: 4px 8px 4px 8px;
            border-radius: 4px;
            color: #364098;
            border-radius: 4px;
            height: 25px;
            align-items: center;
        }
    }
}