section.cloud-overview {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 14px;

    h1 {
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 30px;
        background-position: 0 24px;
        background-repeat: no-repeat;

    }

    h2 {
        font-family: Gilroy;
        font-size: 21px;
        font-weight: 400;
        color: #131314;
        padding-bottom: 8px;
    }

    p.top-para {
        margin-bottom: 0;
        margin-top: 6px;
    }

    div.card {
        display: flex;
        justify-content: space-between;
        background: #fff;
        border-radius: 4px;

        p {
            color: #5f6065;
        }
    }

    div.row {
        flex-direction: row;
    }

    div.col {
        flex-direction: column;
    }

    div.row,
    div.col {
        display: flex;
        gap: 12px;
    }

    div.row a {
        flex: 1;
    }

    section.get-started {
        display: flex;
        justify-content: center;
        margin-top: 16px;

        div.card {
            min-width: 400px;
            padding: 16px 24px;
            box-shadow: 0px 2px 24px rgba(77, 91, 217, 0.14);
            border-radius: 4px;
            background: rgba(237, 239, 251, 0.5);
            border: 1px solid #A6ADEC;

            &:hover {
                background: #EDEFFB;
                border: 1px solid #828CE4;
            }

            p {
                font-family: 'Gilroy';
                font-weight: 500;
                font-size: 21px;
                margin: 0;
            }
        }
    }

    section.providers {
        h2 {
            font-family: 'Gilroy';
            font-weight: 500;
            font-size: 24px;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        p {
            margin-top: 0;
            margin-bottom: 8px;
        }
    }

    div.provider-card {
        flex-grow: 1;
        box-shadow: 0px 2px 24px 0px #5f606524;
        border: 1px solid #e5e5e9;
        border-radius: 4px;
        padding: 24px;
        background: rgb(246, 247, 253);
        background: linear-gradient(
            135deg,
            rgba(246, 247, 253, 1) 0%,
            rgba(249, 247, 252, 1) 5%,
            rgba(249, 245, 250, 1) 10%,
            rgba(254, 248, 249, 1) 15%,
            rgba(255, 253, 247, 1) 20%,
            rgba(255, 255, 255, 1) 25%,
            rgba(255, 255, 255, 1) 75%,
            rgba(254, 248, 249, 1) 80%,
            rgba(254, 248, 249, 1) 85%,
            rgba(249, 245, 250, 1) 90%,
            rgba(249, 247, 252, 1) 95%,
            rgba(246, 247, 253, 1) 100%
        );
    
        div.heading p {
            font-family: 'Gilroy';
            font-weight: 500;
            font-size: 21px;
        }

        div.top-heading p {
            font-family: 'Gilroy';
            font-weight: 500;
            font-size: 24px;
        }

        p.content-name {
            font-family: 'Gilroy';
            font-weight: 500;
            font-size: 18px !important;
            line-height: 200%;
            color: #5F6065;
            margin: 0;
        }

        div.content-link {
            background: #fff;
            border: 1px solid #dcdcdc;
            box-shadow: 0px 0px 12px rgba(95, 96, 101, 0.08);
            border-radius: 4px;
            padding: 8px 24px;
        }
    }

    .provider-label {
        font-family: 'Inter' !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        color: #5F6065 !important;
    }

    .card-gradient {
        background: rgb(246, 247, 253);
        background: linear-gradient(
            135deg,
            rgba(246, 247, 253, 1) 0%,
            rgba(249, 247, 252, 1) 5%,
            rgba(249, 245, 250, 1) 10%,
            rgba(254, 248, 249, 1) 15%,
            rgba(255, 253, 247, 1) 20%,
            rgba(255, 255, 255, 1) 25%,
            rgba(255, 255, 255, 1) 75%,
            rgba(254, 248, 249, 1) 80%,
            rgba(254, 248, 249, 1) 85%,
            rgba(249, 245, 250, 1) 90%,
            rgba(249, 247, 252, 1) 95%,
            rgba(246, 247, 253, 1) 100%
        );
    }

    section.card-heading-para-inner-cards,
    section.card-heading-para-inner-cards-kube {
        box-shadow: 0px 2px 24px 0px #5f606524;
        border: 1px solid #e5e5e9;
        border-radius: 4px;
        padding: 24px;
        
        p {
            font-family: Inter;
            font-size: 16px;
            line-height: 1.5;
        }

        div.parent-heading p {
            color: #131314;
        }
    }

    section.card-heading-para-inner-cards,
    .convert {
        div.card {
            box-shadow: 0px 0px 12px rgba(95, 96, 101, 0.08);
            border: 1px solid #dcdcdc;
            padding: 16px 24px;
        }

        div.heading p {
            font-family: Gilroy;
            font-size: 18px;
            margin: 0;
        }
    }

    .provider-heading {
        justify-content: space-between;
        align-items: center;
    }

    section.card-heading-para-inner-cards div.card,
    div.provider-card div.content-link,
    section.policies,
    .convert div.card {
        &:hover {
            background: #F9F9F9;
            border: 1px solid #BEBFC9;
        }
    }

    .tools {
        margin-top: 16px;
    }

    div.heading {
        display: flex;
        flex: 1;
    }

    section.card-heading-para {
        background: #fff;
        padding: 24px;
        box-shadow: 0px 2px 24px 0px #5f606524;
        border: 1px solid #e5e5e9;

        div.top {
            display: flex;
            flex-direction: row;
        }

        i {
            font-size: 16px;
            color: #8e8f97;
            display: flex;
            align-items: center;
            position: relative;
            top: -5px;
            margin-right: 12px;
        }

        div.heading h2 {
            margin-top: 0;
            margin-bottom: 0;
            border-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }
    }

    section.card-heading-para-inner-cards {
        div.parent-heading {
            justify-content: space-between;
            border-bottom: 1px solid #e5e5e9;
            color: #131314;

            h2 {
                padding-bottom: 0;
            }
        
        }
    }

    div.icon {
        display: block;
        text-indent: -9999px;
    }

    div.icon-18-18 {
        width: 18px;
        height: 18px;
        background-size: 18px 18px;   
        position: relative;
        top: 8px !important;  
    }

    div.icon-21-21 {
        width: 21px;
        height: 21px;
        background-size: 21px 21px;
    }

    div.icon-24-24 {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
    }

    div.icon-left-of-heading {
        position: relative;
        top: 4px;
        margin-right: 12px;
    }

    div.icon-right-of-heading {
        top: 3px;
        position: relative;
        margin-right: 2px;
    }

    div.badge-gray {
        background: url(/images/docs/icons/badge-gray.svg);
    }

    div.recycle-gray {
        background: url(/images/docs/icons/recycle-gray.svg);
    }

    div.question-medium-gray {
        background: url(/images/docs/icons/question-medium-gray.svg);

    }

    div.ruler-triangle-gray {
        background: url(/images/docs/icons/ruler-triangle-gray.svg);
    }

    div.puzzle-piece-gray {
        background: url(/images/docs/icons/puzzle-piece-gray.svg);
    }

    div.right-arrow-gray {
        background: url(/images/docs/icons/right-arrow-gray.svg);
    }

    div.play-blue {
        background: url(/images/docs/icons/play-blue.svg);
    }

    div.question-small-black {
        background: url(/images/docs/icons/question-small-black.svg);
    }

    div.book-small-black {
        background: url(/images/docs/icons/book-small-black.svg);
    }

    div.gear-small-black {
        background: url(/images/docs/icons/gear-small-black.svg);
    }

    div.page-small-black {
        background: url(/images/docs/icons/page-small-black.svg);
    }
}