.note {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    padding: 10px 12px 12px 12px;
    align-items: flex-start;
    gap: 12px;
    margin: 24px 0;
    position: relative;

    p {
        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    a {
        color: #4d5bd9;

        &:hover {
            text-decoration: underline;
        }
    }

    i {
        font-size: 15px;
        margin-top: 2px;
    }

    div.icon-and-line {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.line {
        display: flex;
        width: 2px;
        border-radius: 100px;
        margin-top: 4px;
        position: absolute;
        top: 28px;
        height: calc(100% - 46px);
    }

    div.content {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 14px;
        color: #131314;
        flex-direction: row;
    }

    &.note-info {
        background: rgba(237, 239, 251, 0.5);

        i {
            color: #4d5bd9;
        }

        div.line {
            background-color: #a6adec;
        }
    }

    &.note-warning {
        background: rgba(249, 228, 210, 0.5);

        i {
            color: #e0771c;
        }

        div.line {
            background-color: #Ecad77;
        }
    }
}
