$toc-header-spacing: 5px;

#left-nav {
    scroll-behavior: smooth;
}

.toc {
    @apply text-sm pb-8;

    a {
        @apply text-blue-800 py-0.5 px-1.5 rounded-sm;

        &:hover {
            background-color: #dbdef7;
            text-decoration: none !important;
        }
    }

    .active {
        @apply font-semibold;
        background-color: #dbdef7;

        &::after {
            @apply bg-blue-800;
            content: "";
            position: absolute;
            width: 3px;
            height: 21px;
            left: 13px;
        }
    }

    h5 {
        @apply font-semibold text-base text-blue-800;
        margin-top: 16px !important;

        a {
            &:hover {
                @apply text-blue-700;
            }
        }
    }

    ul {
        @apply list-none p-0;
    }

    .toc-header {
        font-size: 16px;
        width: fit-content;
        padding-right: $toc-header-spacing;

        margin-top: 24px;
        margin-bottom: 0;

        &.active {
            background-color: #dbdef7;
            transition: background-color 2.5s;

            a {
                &::before {
                    @apply bg-blue-800;
                    content: "";
                    position: absolute;
                    width: 3px;
                    height: 24px;
                    left: 9px;
                }
            }
        }
    }
}

.sidenav-topic {
    font-size: 16px;
    margin-left: 16px;
    margin-bottom: 12px;
}

.sidenav-subsection {
    @apply mb-2 text-sm;
}

.sidenav-parent {

}

.toggleButton, .toggleButton-topLevel {
    @apply cursor-pointer;
    color: #2b2b2c;
    font-size: 13px;
    position: relative;
    top: -2px;
}

.header-no-children {
    color: #364098;
}

.toggle > .collapsed,
.toggleVisible > .expanded {
    @apply visible;
}

.toggle > .expanded,
.toggleVisible > .collapsed {
    @apply hidden;
}

.toggle-topLevel.toggle + .top-level-container {
        display: none;
}

.toggle-topLevel.toggleVisible + .top-level-container {
        display: block;
}

.toggle-topLevel.toggle {
    .toggleButton-topLevel.down {
        display: none;
    }

        .toggleButton-topLevel.right {
        display: inline;
    }
}

.toggle-topLevel.toggleVisible {
    .toggleButton-topLevel.down {
        display: inline;
    }

        .toggleButton-topLevel.right {
        display: none;
    }
}
