$toc-header-spacing: 5px;

#left-nav {
    scroll-behavior: smooth;
}

.toc {
    @apply text-sm pb-8;

    li {
        border-radius: 2px;
    }

    a {
        @apply py-0.5 px-1.5 rounded-sm;
        color: #364098;

        &:hover {
            text-decoration: #8e8f97 solid underline !important;
            text-underline-offset: 6px;
            color: #364098;
        }
    }

    .active {
        background-color: #edeffb;
        border-left: #364098 3px solid;
        width: fit-content;

        &:hover {
            text-decoration: none !important;
        }
    }

    p.active a:hover,
    li.active a:hover {
        text-decoration: none !important;
    }

    ul {
        @apply list-none p-0;
    }

    .toc-header {
        font-size: 16px;
        width: fit-content;
        padding-right: $toc-header-spacing;

        margin-top: 16px;
        margin-bottom: 0;

        &.active {
            background-color: #edeffb;
            border-left: #364098 3px solid;
            width: fit-content;
            text-decoration: none !important;
        }
    }
}

.sidenav-topic {
    font-size: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
}

.sidenav-subsection {
    @apply mb-2 text-sm;
    margin-left: 16px;
}

.toggleButton, .toggleButton-topLevel {
    @apply cursor-pointer;
    color: #131314;
    font-size: 11px;
    position: relative;
    top: -1px;
    padding-right: 6px;
}

.header-no-children {
    color: #364098;
}

.toggle > .collapsed,
.toggleVisible > .expanded {
    @apply visible;
}

.toggle > .expanded,
.toggleVisible > .collapsed {
    @apply hidden;
}

.toggle-topLevel.toggle + .top-level-container {
        display: none;
}

.toggle-topLevel.toggleVisible + .top-level-container {
        display: block;
}

.toggle-topLevel.toggle {
    .toggleButton-topLevel.down {
        display: none;
    }

    .toggleButton-topLevel.right {
        display: inline;
    }
}

.toggle-topLevel.toggleVisible {
    .toggleButton-topLevel.down {
        display: inline;
    }

    .toggleButton-topLevel.right {
        display: none;
    }
}

.toggleButton i {
    color: #131314;
}
