{{ define "main" }}
    {{ $modulePath := path.Split (path.Dir .Path) }}
    {{ $module := .GetPage (path.Dir (string $modulePath)) }}

    <div class="docs-list-main">
        <div class="docs-main-nav-toggle-wrapper">
            <div class="docs-main-nav-wrapper">
                <div id="docs-main-nav" class="docs-main-nav">
                    <nav class="main-nav">
                        <nav>
                            {{ partial "learn/topics" (dict "context" . "topic" . "module" $module "mode" "sidebar") }}
                        </nav>
                        {{ partial "learn/topic-links" (dict "context" .) }}
                    </nav>
                </div>
            </div>
            <div class="docs-nav-toggle">
                <div class="docs-nav-toggle-icon icon icon-24-24"></div>
            </div>
        </div>

        <div class="docs-main-content-wrapper">
            <div class="docs-main-content">
                {{ partial "docs/breadcrumb.html" . }}


                <h1>{{ .Title }}</h1>

                {{ if .Params.description }}
                    <p class="text-xl my-8">
                        {{ .Params.description }}
                    </p>
                {{ end }}

                <div class="docs-table-of-contents docs-toc-mobile">
                    {{ partial "docs/table-of-contents.html" . }}
                </div>

                <section class="docs-content">
                    {{ partial "learn/media" (dict "context" .) }}
                    <section class="container mx-auto my-8 px-4">
                        {{ .Content }}
                    </section>
                    {{ partial "learn/topics-next-prev" (dict "context" . "topic" . "module" $module) }}
                    <div>
                        {{ partial "docs/feedback.html" . }}
                    </div>

                </section>
            </div>

            <div class="docs-table-of-contents docs-toc-desktop">
                {{ partial "docs/table-of-contents.html" . }}

                {{ partial "docs/feedback.html" . }}

                {{ partial "docs/right-nav-ad.html" }}
            </div>
        </div>
    </div>
{{ end }}

{{ define "footer" }}
    {{ partial "docs/footer.html" . }}
{{ end }}
